.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.footer {
  margin-top: auto;
}

body {
  background-color: #0f0f0f;
  color: #fff;
  font-family: Noto Serif TC;
}

.container {
  max-width: 1296px;
}
